<footer class="footer py-3 mt-auto"style="background-color: #3d454c;" >
    <div class="container d-flex justify-content-center align-items-center">
        <p class="text-center text-light fw-lighter">&copy; ShopSmart 2024</p>
    </div>
</footer>